@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F8F5F2; /* A slightly warmer off-white */
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="80" height="80"><rect fill="%23f5f5f4" width="80" height="80"></rect><rect y="40" width="80" height="1" fill-opacity="0.05" fill="%23000000"></rect><rect x="40" width="1" height="80" fill-opacity="0.05" fill="%23000000"></rect></svg>');
    opacity: 0.3;
    z-index: -1;
}


.text-3d {
    transform-style: preserve-3d;
    perspective: 1000px;
}
